@media only screen and (max-width: 1024px) {
  .job_filter {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 64px;
    background: #fff;
    padding: 20px;
    width: 350px;
    overflow-y: auto;
    box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
    transition: all 0.5s ease;
  }

  .filter_show {
    left: 0;
  }

  .freelancers_list {
    width: 100%;
  }
}

/*-------------- Desktop screen -----------------*/
@media only screen and (min-width: 1024px) {
  .job_filter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    position: sticky;
    top: 70px;
    width: 330px;
  }

  .freelancers_list {
    width: calc(100% - 330px);
  }
}
