.dashboardSidebar {
  width: 300px;
  background: #fff;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;

  position: fixed;
  height: 92vh;

  transition: all 0.3s ease;
  overflow-x: auto;
}

.dashboardSidebar::-webkit-scrollbar {
  display: none;
}

.dashboardContent {
  width: calc(100% - 320px);
  position: relative;
  height: 100%;
  left: 320px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.portfolioItem:hover.portfolioItem h6 {
  color: #e85717;
  transition: 0.3s;
}

.faq-content {
  max-height: 0;
  overflow: hidden;

  transition: all 0.5s;
}

.activeFAQ {
  max-height: 500px;
}

@media only screen and (max-width: 1023px) {
  .dashboardSidebar.hide {
    transform: translateX(-100%);
  }

  .dashboardContent {
    width: 100%;
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* -------  Setting Sidebar  ---------- */
.SettingSidebar .active {
  background: #fff;
  color: #e85717;
  border-left: 2px solid #e85717;
  border-bottom: 1px solid #ddd;
}

.SettingSidebar li a {
  display: block;
  padding: 15px 24px;
  border-left: 2px solid transparent;
  border-bottom: 1px solid transparent;
  margin-bottom: 2px;
  color: #7e7e7e;
  transition: all 0.3s;
}

.SettingSidebar li a:hover {
  background: #fff;
  border-left: 2px solid #e85717;
}
