.mobileMenu {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 999;
  padding: 15px;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  transition: all 0.4s ease;
}
.mobileMenuHide {
  left: -100%;
  transition: all 0.5s;
}

#mobileMenu ul li a {
  display: block;
  padding: 5px 0px;
}

/* ----------------why choose------------------- */
.why_choose {
  background-image: linear-gradient(0deg, #222222a0, #00000076),
    url(/images/why_choose/why_choose.jpg);
  background-position: top;
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 120px;
}
/* -------------------------- */
.forClient {
  background-image: linear-gradient(0deg, #222222e9, #000000aa),
    url("/images/for_client/forClient.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}
