.mobileMenu {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 999;
  padding: 15px;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  transition: all 0.4s ease;
}
.mobileMenuHide {
  left: -100%;
  transition: all 0.5s;
}

#mobileMenu ul li a {
  display: block;
  padding: 5px 0px;
}
