.message::-webkit-scrollbar {
  display: none;
}

.bubble {
  max-width: max-content;
  min-width: 100px;
  margin-bottom: 10px;
  font-weight: 400;
}

.bubble_left .bubble {
  background: #ddd;
  color: #404145;
}

.bubble_left p {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-left: 20px;
}

.bubble_left img {
  position: absolute;
  left: 0px;
  bottom: 3px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.bubble_right .bubble {
  background: #e85717;
  color: #fff;
}

.bubble_right p {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: auto;
  margin-right: 30px;
}

.bubble_right img {
  position: absolute;
  right: 11px;
  bottom: 3px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
