@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "MuseoModerno", cursive;
}

h2 {
  font-family: "Asap", sans-serif;
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}

.shadow-lg {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c !important;
}

.primary_text_gradient {
  background: #e85717;
  background: linear-gradient(to right, #e85717, #f88b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary_bg_gradient {
  background-image: linear-gradient(to right, #e85717, #f88b1e);
  color: #fff;
  border-radius: 4px;
}

.primary_bg_gradient:hover {
  background-image: linear-gradient(to left, #e85717, #f88b1e);
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.active {
  color: #e85717;
}

/*---------------- Hero ----------------------*/
.search_btn {
  border-radius: 0px 4px 4px 0px;
  padding: 8px 16px;
  color: #fff;
  transition: all 0.3 ease;
  height: auto;
}

.search_input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px 0px 0px 4px;
  padding: 8px 12px;
  outline: none;
  background: transparent;
  font-weight: 500;
}

.search_input::placeholder {
  color: #7c7c7c;
}

/*--------------- Jobs and freelancer--------------------- */
@media only screen and (max-width: 1024px) {
  .filter {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 64px;
    background: #fff;
    padding: 20px;
    width: 350px;
    overflow-y: auto;
    box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
    transition: all 0.5s ease;
  }

  .filter_show {
    left: 0;
  }

  .lists {
    width: 100%;
  }
}

/*-------------- Desktop screen -----------------*/
@media only screen and (min-width: 1024px) {
  .filter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    position: sticky;
    top: 70px;
    width: 330px;
  }

  .lists {
    width: calc(100% - 330px);
  }
}

/* ------React dropdown select custom style---- */
.css-9ma7ck-OptionComponent {
  background: #e85717 !important;
}

.css-wmy1p7-ReactDropdownSelect:focus,
.css-wmy1p7-ReactDropdownSelect:focus-within {
  outline: 0;
  box-shadow: 0 0 0 1px #e856173f !important;
}

.css-wmy1p7-ReactDropdownSelect:hover {
  border: 1px solid #e856173f !important;
}

.css-z2hyoe-ItemComponent:hover,
.css-z2hyoe-ItemComponent:focus {
  background: #e856173f !important;
}

.css-wmy1p7-ReactDropdownSelect:hover,
.css-wmy1p7-ReactDropdownSelect:focus-within {
  border-color: #e856173f !important ;
}

.css-1tspqtw-InputComponent {
  font-size: 16px !important;
}

.css-wmy1p7-ReactDropdownSelect:focus,
.css-wmy1p7-ReactDropdownSelect:focus-within {
  box-shadow: 0 0 2px 0px #e856173f !important;
}

.css-9ma7ck-OptionComponent {
  background: #e85717 !important;
}

.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
  background: transparent !important;
  color: #e85717 !important;
}

.css-1c8t16q-InputComponent {
  font-size: 16px !important;
}

/*------------ React best tab custom style------------ */
.rb-tabs .rb-tabs-header .rb-tabs-active-item {
  background-color: #e85717 !important;
}

/* ---------jodit React text editor custom style------------ */
.jodit-status-bar {
  display: none !important;
}
